{% extends 'base.html.twig' %}

{% block body %}
    <h1>Strip</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ strip.id }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if strip.creationDate %}{{ strip.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Publicationdate</th>
                <td>{% if strip.publicationDate %}{{ strip.publicationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ strip.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ strip.slug }}</td>
            </tr>
            <tr>
                <th>Content Warnings</th>
                <td>
                    {% for contentWarning in strip.contentWarnings%} 
                        <a href="{{ path('contentwarning_show', { 'slug': contentWarning.slug }) }}">{{ contentWarning.slug }}</a> 
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Author</th>
                <td>
                    <a href="{{ path('account_show', { 'slug': strip.author.slug }) }}">{{ strip.author.username }}</a> 
                </td>
            </tr>
            <tr>
                <th>Stripelements</th>
                <td>{% if strip.stripElements %}{{ strip.stripElements|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('strip_list') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('strip_edit', { 'id': strip.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
