{% extends 'base.html.twig' %}

{% block title %}{{ contentWarning.label }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/content-warning/details.css') }}" />
{% endblock %}

{% block body %}
    <div id="content-warning-details">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>{{ contentWarning.id }}</dd>
            <dt>Slug</dt>
            <dd>
                <code>
                    {{ contentWarning.slug }}
                </code>
            </dd>
            <dt>Created</dt>
            <dd>
                {% if contentWarning.creationDate %}
                    {{ contentWarning.creationDate|localizeddate('none', 'none', 'fr_FR', null, 'd LLLL Y, H:mm') }}
                {% endif %}
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Label</dt>
            <dd>{{ contentWarning.label }}</dd>
            <dt>Description</dt>
            <dd class="content-warning-description last-field">
                {{ contentWarning.description }}
            </dd>
        </dl>
    </div>

    <div class="details-footer btn-toolbar">
        <a class="btn btn-outline-secondary mr-auto" href="{{ path('contentwarning_list') }}">
            <span class="oi oi-chevron-left"></span> Back to the list
        </a>
        <a class="btn btn-outline-info mr-1" href="{{ path('contentwarning_show', { 'label': contentWarning.label }) }}">
            <span class="oi oi-globe"></span> See public version
        </a>
        <a class="btn btn-outline-primary mr-0" href="{{ path('contentwarning_edit', { 'label': contentWarning.label }) }}">
            <span class="oi oi-pencil"></span> Edit
        </a>
    </div>
{% endblock %}
