{% extends 'base.html.twig' %}

{% block title %}Manage content warnings{% endblock %}
{% block body %}
    <div class="aaa-table aaa-new-button">
        <a href="{{ path('contentwarning_new') }}" class="btn btn-outline-primary">
            <span class="oi oi-plus"></span> Create a new content warning
        </a>
    </div>

    <table class="table table-hover aaa-table light">
        <thead>
            <tr>
                <th class="aaa-id">Id</th>
                <th style="width: 40%">Content Warning</th>
                <th style="width: 60%">Description</th>
                <th class="aaa-date">Créé le</th>
                <th class="aaa-action"></th>
                <th class="aaa-action"></th>
                <th class="aaa-action"></th>
            </tr>
        </thead>
        <tbody>
        {% for contentWarning in contentWarnings %}
            <tr
                class="aaa-row-clickable"
                data-url-show="{{ path('contentwarning_show', { 'label': contentWarning.label }) }}"
                title="See content warning"
                >
                <td>{{ contentWarning.id }}</td>
                <td>{{ contentWarning.label }}</td>
                <td class="ellipsis">
                    <span class="js-aaa-table-redirect-to-details">{{ contentWarning.description }}</span>
                </td>
                <td class="aaa-date">
                    {{ contentWarning.creationDate|localizeddate('none', 'none', 'fr_FR', null, 'd LLL Y') }}
                </td>
                <td class="aaa-button">
                    <a
                        class="btn btn-outline-info"
                        href="{{ path('contentwarning_administration_show', { 'label': contentWarning.label }) }}"
                        role="button"
                        title="See in administration">
                        <span class="oi oi-bug"></span>
                    </a>
                </td>
                <td class="aaa-button">
                    <a
                        class="btn btn-outline-secondary"
                        href="{{ path('contentwarning_edit', { 'label': contentWarning.label }) }}"
                        role="button"
                        title="Edit this content warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                </td>
                <td class="aaa-button">
                    <button
                        class="btn btn-outline-danger"
                        data-toggle="modal"
                        data-target="#modal-{{ contentWarning.id }}"
                        title="Delete this content warning">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="aaa-table aaa-new-button">
        <a href="{{ path('contentwarning_new') }}" class="btn btn-outline-primary">
            <span class="oi oi-plus"></span> Create a new content warning
        </a>
    </div>

    <div id="modals-deletion-confirmation">
        {% for contentWarning in contentWarnings %}
            {% set delete_form = delete_forms[contentWarning.id] %}
            <div id="modal-{{ contentWarning.id }}" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Do you want to delete content warning {{ contentWarning.label }} ?</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">
                                <span class="oi oi-chevron-left"></span> Cancel
                            </button>
                            {{ form_start(delete_form) }}
                                <button class="btn btn-danger" type="submit">
                                    <span class="oi oi-trash"></span> Yes, delete
                                </button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
