{% extends 'base.html.twig' %}

{% block title %}{{ contentWarning.label }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/content-warning/details.css') }}" />
{% endblock %}

{% block body %}
    <div id="content-warning-details">
        <dl class="dl-horizontal">
            <dt>Label</dt>
            <dd>{{ contentWarning.label }}</dd>
            <dt>Description</dt>
            <dd class="content-warning-description last-field">
                {{ contentWarning.description }}
            </dd>
        </dl>
    </div>

    <div class="btn-toolbar details-footer">
        <a class="btn btn-outline-secondary mr-auto" href="{{ path('contentwarning_list') }}">
            <span class="oi oi-chevron-left"></span> Back to the list
        </a>
        <a class="btn btn-outline-primary" href="{{ path('contentwarning_administration_show', { 'label': contentWarning.label }) }}">
            <span class="oi oi-bug"></span> See in administration
        </a>
    </div>
{% endblock %}
