{% extends 'base.html.twig' %}

{% block title %}{{ shown_account.username }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/account/details.css') }}" />{% endblock %}

{% block body %}
    <!-- Need to add account verification so the user can access this page -->
    <div id="account-details" class="col-md-12">

        <div class="row justify-content-center account-details avatar">
            <img class="align-middle" src="{{ asset('images/default-avatar.png') }}">
        </div>
        <div class="row justify-content-center account-details username">
            {{ shown_account.username }}
        </div>
        <!-- update it when Account will have a parameter to set public email adress -->
        {% if false %}
        <div class="row justify-content-center account-details email">
             <a href="mailto:{{ shown_account.email }}?subject=From SuccubeSARL website&body=Hello!">{{ shown_account.email }}</a>
        </div>
        {% endif %}
    </div>

    <div id="account-details-buttons" class="col-md-12">
        {% if app.session.get('isConnected') and account.id == shown_account.id %}
            <a href="{{ path('account_edit', { 'username': shown_account.username })}}" class="btn btn-primary float-right"><span class="oi oi-pencil"></span> Edit</a>
        {% endif %}
    </div>
{% endblock %}
